<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" layout:fragment="nav">
		<div class="container">
			<a class="navbar-brand" th:href="@{/sessions/new}">Goal Trail</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/annual}">Annual</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/monthly}">Monthly</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/weekly}">Weekly</a>
						</li>
					</th:block>
				</ul>
				<th:block sec:authorize="!isAuthenticated()">
					<a class="btn btn-outline-primary ml-lg-4" th:href="@{/users/new}">Sign in</a>
					<a class="btn btn-outline-primary ml-lg-4" th:href="@{/sessions/new}">Log in</a>
				</th:block>
			</div>
		</div>
	</nav>
	<div id="messages" layout:fragment="messages" th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class="error-message" th:text="${error.message}" />
		</ul>
	</div>
</body>

</html>